<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />

<h1>
  {{user.longitude}}
</h1>

<div id="map" style="width:100vw; height:100vh"></div>

<script>
  const userInfo = {{{ user }}};
</script>

<script src="javascripts/map.js"></script>