* {
  margin: 0;
  padding: 0;
}
body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.marker {
  background-image: url("../images/c54afa4b8e4aa03928c76a7aad717a4f-sticker-removebg-preview.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
